﻿@page "/"

@using BridgesService.Interfaces

@inject IBridgesService bridgeService;

@namespace Bridges.Pages

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>GRSMWeb</title>

    <base href="~/" />

    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/site.css" rel="stylesheet" />
    @*<link href="css/image-effects.css" rel="stylesheet" />*@
    
    @*Server side ref if you need it*@
    @*<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>*@

    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/background.cycle.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {
            $("body").backgroundCycle();
            setInterval(cycleToNextImage, 5000);
        });
    </script>

    @*<script src="_framework/blazor.server.js"></script>*@
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</body>
</html>
