@page "/bridgeseditview"

@using Bridges.Services;

<form method="post">
    <h3>Edit bridges</h3>
</form>

<table class="table-bordered">
    <thead>Bridges list</thead>
    <tr>
        <td><h5>Name</h5></td>
        <td><h5>Description</h5></td>
        <td><h5>Filename</h5></td>
    </tr>
    @{
        foreach (var bridge in new BridgesService().GetBridges)
        {
            <tr>
                <td>@bridge.Name</td>
                <td>@bridge.Description</td>
                <td>@bridge.Filename</td>
            </tr>
        }
    }
</table>
