﻿@page "/bridgesdetailview/{action}/{id:int}/{name?}/{filename?}/{desc?}/{lat:double?}/{lng:double?}/{zoom:double?}/{height:double?}"

@inject IBridgesService bridgesService;

@using BridgesDomain.Model
@using BridgesService.Interfaces

@{
    Bridge bridge;
    var msgText = string.Empty;

    if (!string.IsNullOrEmpty(Action))
    {
        switch (Action.ToLowerInvariant())
        {
            case "update":
                {
                    bridge = bridgesService.GetBridgeById(Id);
                    if (bridge == null) // Assumes add bridge
                    {
                        bridge = new Bridge(Name, Filename, Desc, Lat, Lng, Zoom, Height);

                        bridgesService.Add(bridge);

                        msgText = $"SUCCESS - Bridge Id: {@bridge.Id} added";
                    }
                    else
                    {
                        bridge.Name = Name;
                        bridge.Filename = Filename;
                        bridge.Description = Desc;
                        bridge.FileBytes = null;
                        bridge.Lat = Lat;
                        bridge.Lng = Lng;
                        bridge.Zoom = Zoom;
                        bridge.Height = Height;

                        bridgesService.Update(bridge);

                        msgText = $"SUCCESS - Bridge Id: {@bridge.Id} updated";
                    }
                    break;
                }
            default:
                {
                    bridge = bridgesService.GetBridgeById(Id);
                    break;
                }
        }
    }
    else
    {
        bridge = bridgesService.GetBridgeById(Id);
    }

    if (bridge != null)
    {
        var satParams = "!3m1!1e3";
        var url = $"https://www.google.co.uk/maps/@{@bridge.Lat},{@bridge.Lng},{@bridge.Height}m/data={satParams}";

        if (!string.IsNullOrEmpty(msgText))
        {
            <hr />
            <img style="border: none; height: 45px; width: 45px;" src="Images/info.png" />
            <msginfo>@msgText</msginfo>
            <hr />
        }
        <table>
            <thead>
                <h6>
            <th colspan="2">@bridge.Name<a href=@url target="_blank"> Show in maps</a></th>
            </h6>
            </thead>
            <tr style="vertical-align: top; background-color: @bridgesService.GetHexColor(@bridge.DistanceToMouthMiles)">
                <td style="width: 40%">
                    <a href="Images/Original/@bridge.Filename">
                        <img alt="No image found for bridge with name: @bridge.Name" height="600" width="800" src="Images/Original/@bridge.Filename" />
                    </a>
                </td>
                <td>
                    <hr />
                    <table>
                        <tr>@bridge.Description</tr>
                        <hr />
                        @*<tr><td>Id</td><td>@bridge.Id</td></tr>*@
                        <tr><td>Name</td><td>@bridge.Name</td></tr>
                        @*<tr><td>File name</td><td>@bridge.Filename</td></tr>*@
                        <tr><td>Lat</td><td>@bridge.Lat.ToString("##.#######")</td></tr>
                        <tr><td>Lng</td><td>@bridge.Lng.ToString("##.#######")</td></tr>
                        <tr><td>Disance to mouth (miles)</td><td>@bridge.DistanceToMouthMiles.ToString("#.##")</td></tr>
                        <tr><td>Distance from source (miles)</td><td>@bridge.DistanceFromSourceMiles.ToString("#.##")</td></tr>
                        <tr><td colspan="2"><progress value="@bridge.DistanceFromSourceMiles" max="57" style="width: 100%; height: 50px;"></progress></td></tr>
                        <tr><td>Zoom (maps)</td><td>@bridge.Zoom.ToString("#.##")</td></tr>
                        <tr><td>Height (maps)</td><td>@bridge.Height.ToString("#.##")</td></tr>
                        <tr><td>Last modified</td><td>@bridge.LastModified.ToString("dd/MM/yyyy HH:mm")</td></tr>
                        <hr />
                        <tfoot>
                        <th colspan="2" style="text-align: right;">
                        <a href="@url" target="_blank"><img src="Images/maps-icon.jfif" style="width: 32px; height: 32px; horiz-align: center;" /></a>
                        <a href="bridgesdetaileditview/view/@bridge.Id"><img src="Images/E-icon.png" style="width: 32px; height: 32px; horiz-align: center;" /></a>
                        <img src="Images/D-icon.png" style="width: 32px; horiz-align: center;" onclick="DeleteBridge(@bridge.Id);" />
                        </th>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </table>
    }
    else
    {
        <p>No bridge found for bridge with Id: @Id</p>
    }
}

@code
{
    [Parameter]
    public string Action { get; set; }

    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Filename { get; set; }
    [Parameter]
    public string Desc { get; set; }
    [Parameter]
    public double Lat { get; set; }
    [Parameter]
    public double Lng { get; set; }
    [Parameter]
    public double Zoom { get; set; }
    [Parameter]
    public double Height { get; set; }
}
