@page "/commentsdetaileditview"

@inject ICommentService CommentService;

@using BridgesDomain.Model
@using BridgesService.Interfaces

<style>
    input {
        width: 400px;
    }

    td {
        opacity: 0.9;
    }
</style>

@{
    Comment comment = new(string.Empty);;

    <br/>
   
    <table class="table" style="background-color: lightgoldenrodyellow; color: darkslategray; width: 100%;">
        <tr>
            <td><label>Comment</label></td>
            <td><textarea id="inputCommentContent" style="width: 800px; height: 100px;">@comment.CommentContent</textarea></td>
        </tr>
        <tr>
            <td style="text-align: left; horiz-align: left; background-color: darkslategray; color: white;">
                <input type="button" id="btnSave" value="Save" 
                       onclick="SaveComment(inputCommentContent.value);"/>
            </td>
        </tr>
    </table>
}
