@page "/commentsdetaileditview"

@inject ICommentService CommentService;

@using BridgesDomain.Model
@using BridgesService.Interfaces

<style>
    input {
        width: 400px;
    }

    td {
        opacity: 0.9;
    }
</style>

@{
    Comment comment = new();;

    <br/>
   
    <table>
        <thead>
            <h6>
        <th colspan="2">Add comment</th>
        </h6>
        </thead>
        <tr>
            <td><label>Comment</label></td>
            <td><textarea id="inputCommentContent">@comment.CommentContent</textarea></td>
        </tr>
        <tr>
            <td><label>From</label></td>
            <td><textarea id="inputCommentFrom">@comment.From</textarea></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><textarea id="inputCommentEmailAddress">@comment.EmailAddress</textarea></td>
        </tr>
        <tfoot>
        <th colspan="2"  style="text-align: right;">
            <input type="button" id="btnSave" value="Save"
                   onclick="SaveComment(inputCommentContent.value, inputCommentFrom.value, inputCommentEmailAddress.value);"/>
        </th>
        </tfoot>
    </table>
}
