@page "/commentsdetaileditview"

@inject ICommentService CommentService;

@using BridgesDomain.Model
@using BridgesService.Interfaces

<style>
    input {
        width: 400px;
    }

    td {
        opacity: 0.9;
    }
</style>

@{
    Comment comment = new();;

    <br/>
   
    <table class="table" style="background-color: lightgoldenrodyellow; color: darkslategray; width: 100%;">
        <tr>
            <td><label>Comment</label></td>
            <td><textarea id="inputCommentContent" style="height: 400px; width: 100%;">@comment.CommentContent</textarea></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right; horiz-align: right; background-color: darkslategray; color: lightgoldenrodyellow;">
                <input type="button" id="btnSave" value="Save"
                       onclick="SaveComment(inputCommentContent.value);" />
            </td>
        </tr>
    </table>
}
