@page "/commentsdetaileditview"

@inject ICommentService CommentService;

@using BridgesDomain.Model
@using BridgesService.Interfaces

<style>
    img {
        width: 32px;
        height: 32px;
        border: none;
        horiz-align: center;
    }

    img:hover {
        box-shadow: 0 0 2px 1px darkslategray);
    }

    input {
        width: 400px;
    }
</style>
@{
    Comment comment = new();;

    <br/>
    <table>
        <thead>
            <h6>
        <th colspan="2">Add comment</th></h6>
        </thead>
        <td style="width: 20%; vertical-align: top;">
            <table>
                <tr>@DateTime.Now</tr>
                <hr />
                <tr><label>From</label></tr>
                <tr><input type="text" id="inputCommentFrom">@comment.From</tr>
                <tr><label>Email</label></tr>
                <tr><input type="text" id="inputCommentEmailAddress">@comment.EmailAddress</tr>
            </table>
        </td>
        <td style="vertical-align: top;">
            <table>
                <tr><label style="vertical-align: top;">Comment</label></tr>
                <tr><textarea id="inputCommentContent" style="height: 300px">@comment.CommentContent</textarea></tr>
            </table>
        </td>
        <tfoot>
        <th colspan="2" style="text-align: right;">
            <img src="Images/S-icon.png"
                   onclick="SaveComment(
                                inputCommentContent.value,
                                inputCommentFrom.value,
                                inputCommentEmailAddress.value);" />
        </th>
        </tfoot>
    </table>
}
