@page "/"

<html>
<head>
    <meta charset="utf-8" />
    <title>GS</title>
</head>
<body>
<table class="table" width="80%" height="80%">
<hr />
<tr>
    <td style="horiz-align: center; vertical-align: center; background-color: lightgoldenrodyellow; opacity: 0.6; color: darkslategray;">
        <h3>Welcome to blah blah</h3>
        <hr />
        <p>Welcome to blah blah</p>
        <p>Welcome to blah blah</p>
        <p>Welcome to blah blah</p>
        <p>Welcome to blah blah</p>
        <p>Welcome to blah blah</p>
    </td>
</tr>
</table>
</body>
</html>
