@page "/{action?}/{comment?}/"

@inject ICommentService commentService;

@using BridgesDomain.Model
@using BridgesService.Interfaces

<style>
    div.mainDiv {
        height: 800px;
    }
    div.commentListDiv {
        width: 817px;
        height: 650px;
        overflow-y: scroll;
        border-style:solid;
        border: 1px;
        border-color: darkslategray;
    }
</style>

@{
    if (!string.IsNullOrEmpty(Action) && Action.ToLowerInvariant() == "savecomment")
    {
        commentService.AddComment(Comment);
        <br/>
        <img style="border: none; height: 45px; width: 45px;" src="Images/info.png"/>
            <msg>SUCCESS - Comment added</msg>
        <hr/>
    }
}

    <body>
    <br/>
    <div class="mainDiv">
        <table class="table" width="80%" height="80%" style=" horiz-align: center; vertical-align: center; opacity: 0.8;
            background-color: lightgoldenrodyellow; color: darkslategray;
            border-width: 1px; border-color: lightgoldenrodyellow">
            <tr>
                <td>
                    <h3>Welcome to Bridges over the River Wear.</h3>
                    <hr />
                    <p>This site shows some of the bridges over the river Wear.</p>
                    <p>Contributions by Georgie & Sean.</p>
                </td>
                <td>
                    <div class="commentListDiv">
                        <table class="table" style="width: 800px; horiz-align: center; vertical-align: center; background-color: lightgoldenrodyellow; opacity: 0.8; color: darkslategray;">
                            <tr style="background-color: darkslategray; color: white">
                                <td><h3>Comments</h3></td>
                                <td style="text-align: right; horiz-align: right;"><input type="button" id="tbnAddComment" onclick="AddComment();" value="Add" /></td>
                            </tr>
                            @foreach (Comment comment in commentService.GetAllComments().OrderByDescending(x => x.CommentDate))
                            {
                                <tr>
                                    <td style="width: 20px">@comment.CommentDate</td>
                                    <td>@comment.CommentContent</td>
                                </tr>
                            }
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td><p>Some other info here.</p></td>
            </tr>

        </table>
    </div>
    </body>
@code
{
    [Parameter]
    public string Action { get; set; }

    [Parameter]
    public string Comment { get; set; }
}
