@page "/{action?}/{comment?}/"

@inject ICommentService commentService;

@using BridgesDomain.Model
@using BridgesService.Interfaces

<style>
    div.ex1 {
        width: 817px;
        height: 410px;
        overflow-y: scroll;
    }
</style>

@{
    if (!string.IsNullOrEmpty(Action) && Action.ToLowerInvariant() == "savecomment")
    {
        commentService.AddComment(Comment);
        <br/>
        <img style="border: none; height: 45px; width: 45px;" src="Images/info.png"/>
        <msg>SUCCESS - Comment added</msg>
        <hr/>
    }
}

    <body>
    <br/>
    <table class="table" width="80%" height="80%" style=" horiz-align: center; vertical-align: center; opacity: 0.8;
        background-color: lightgoldenrodyellow; color: darkslategray;
        border-width: 1px; border-color: lightgoldenrodyellow">
        <tr>
            <td >
                <h3>Welcome to blah blah</h3>
                <hr/>
                <p>Welcome to blah blah</p>
                <p>Welcome to blah blah</p>
                <p>Welcome to blah blah</p>
                <p>Welcome to blah blah</p>
                <p>Welcome to blah blah</p>
            </td>
        </tr>

    </table>
    <br/>
    <div class="ex1">
        <table class="table" style="width: 800px; horiz-align: center; vertical-align: center; background-color: lightgoldenrodyellow; opacity: 0.8; color: darkslategray;">
            <tr style="background-color: darkslategray; color: white">
                <td><h3>Comments</h3></td>
                <td style="text-align: right; horiz-align: right;"><input type="button" id="tbnAddComment" onclick="AddComment();" value="Add" /></td>
            </tr>
            @foreach (Comment comment in commentService.GetAllComments().OrderByDescending(x => x.CommentDate))
            {
                <tr>
                    <td>@comment.CommentDate</td>
                    <td>@comment.CommentContent</td>
                </tr>
            }
        </table>
    </div>
    <br/>
    </body>

@code
{
    [Parameter]
    public string Action { get; set; }

    [Parameter]
    public string Comment { get; set; }
}
