/*@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
tr:hover {
    background: salmon;
}*/

img {
    border: solid gray;
    padding: 0;
    cursor: pointer;
}

/* Add a hover effect (shadow) */
img:hover {
    box-shadow: 0 0 2px 1px darkslategray);
    cursor: pointer;
}

body {
    font-family: 'Century Gothic';
    /*background-image: url("/Images/bkgrd.jpg");
    background-size: cover;*/
    background-color: darkslategray;
}

textarea {
    width: 100%;
    height: 250x;
}

table {
    /*font-family: Arial, Helvetica, sans-serif;*/
    border-collapse: collapse;
    width: 100%;
    opacity: 0.9
}

table td, table th {
    border: 1px solid darkslategray;
    padding: 2px;
}

table tr {
    padding: 2px;
}

table tr:nth-child(even) {
    background-color: whitesmoke;
}

table tr:nth-child(odd) {
    background-color: lightgoldenrodyellow;
}

table th {
    padding: 4px;
    text-align: left;
    background-color: darkslategray;
    color: white;
}

table tfoot {
    padding: 4px;
    text-align: left;
    background-color: darkslategray;
    color: white;
}

a, .btn-link {
    color: #1b6ec2;
    cursor: pointer;
}

msginfo {
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    background-color: #1b6ec2;
    padding: 10px;
}

msgwarn {
    border: 2px solid white;
    border-radius: 25px;
    color: darkslategray;
    background-color: yellow;
    padding: 10px;
}

msgerror {
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    background-color: red;
    padding: 10px;
}

button {
    border: 2px solid white;
    border-radius: 25px;
    transition-duration: 0.4s;
    background-color: darkslategray;
    color: white;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button:hover {
    background-color: lightgoldenrodyellow;
    color: darkslategray;
    cursor: pointer;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
    cursor: pointer;
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

select {
    word-wrap: normal
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: darkslategray;
    color: white;
    width: 100px;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=date], input[type=datetime-local], input[type=month], input[type=time] {
    -webkit-appearance: listbox
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: block;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: rgb(3, 50 70);
        color: white;
        /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
        /*border-bottom: 1px solid #d6d5d5;*/
        /*justify-content: flex-end;*/
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid white;
}

.pagination a.active {
    color: white;
    background-color: darkslategray;
    border: 1px solid white;
}

.pagination a:hover:not(.active) {
    color: darkslategray;
    background-color: white;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sidebar {
    /*background-image: linear-gradient(180deg, rgb(3, 50, 70) 0%, #3a0647 70%);*/
    background-color: rgba(3,50,70,0.4);
}

    .sidebar .top-row {
        /*background-color: rgba(0,0,0,0.4);*/
        background-color: rgba(3,50,70,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        /*font-size: 1.1rem;*/
        font-size: 1.0rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
    /*background-image: url("/Images/bkgrd.jpg");*/
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        min-width: 200px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    /*.main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }*/

    .navbar-toggler {
        /*display: block;*/
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

footer {
    background-color: darkslategray;
    opacity: 0.9;
    color: white;
}

.main-body {
    position: fixed;
    width: 87%;
    /*height: 95%;*/
    top: 50px;
    bottom: 60px;
    left: 225px;
    /*right:25px;*/
    background: none;
    overflow-y: scroll;
}
.status-top {
    position: fixed;
    width: 100%;
    top: 0;
    left: 200px;
    background: none;
    font-size: 12px;
}
.status-secondbottom {
    position: fixed;
    width: 100%;
    bottom: 24px;
    left: 200px;
    background-color: darkslategray;
    color: whitesmoke;
    font-size: 12px;
}
.status-bottom {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 200px;
    height: 24px;
    alignment: left;
    background-color: black;
    color: darkorange;
    font-size: 12px;
}

