@inherits LayoutComponentBase

@*@using Microsoft.AspNetCore.Mvc.TagHelpers;*@
@*@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;*@

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row pl-4" style="background-color: darkslategray; opacity: 0.6"><h3>Bridges over the River Wear</h3></div>
    <div>
        @Body
    </div>
</div>