@inherits LayoutComponentBase

@*@using Microsoft.AspNetCore.Mvc.TagHelpers;*@
@*@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;*@

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row pl-4">
        <h5>Georgie & Sean &trade;</h5>
        <h6>&copy; 2020</h6>
    </div>
    <div>
        @Body
    </div>
</div>